.main{
    margin-top: 80px;
}

.search{
    background-image: url("../img/bg.jpg");
    height: 247px;
    width: 1920px;
}

.search .input{
    padding-top: 80px;
    width: 800px;
}

.search .input input{
    height: 60px;
}

.header-title{
    font-size: 20px;
}
.header-title .navbar-brand{
    font-size: 23px;
}

.search-type{
    font-size: 15px;
}

.input-group-lg .search-icon{
    font-size: 27px;
    position: relative;
    top: -39px;
    right: -720px;
    cursor: pointer;
}

.singer{
    width: 130px;
    height: 130px;
    display: block;
}

.singer img{
    width: 130px;
    height: 120px;
    display: block;
}

.singer-name{
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    /*position: relative;*/
    /*top: 90px;*/
}