<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue2.5.3.js"></script>
    <script src="./js/vue-resource.js"></script>
</head>
<body>
<div class="container-fluid" id="app">
    <!--首部导航-->
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container header-title">
                <div style="margin-top: 14px"></div>
                <a class="navbar-brand" href="#">网易云爬虫</a>
                <ul class="nav navbar-nav" style="height: 65px;">
                    <li class="">
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">网易云音乐</a>
                    </li>
                    <li>
                        <a href="#">数据分析</a>
                    </li>
                    <li>
                        <a href="#">关于我们</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--搜索框-->
    <div class="row main">
        <div class="search">

            <div class="container input">
                <div class="input-group-lg">
                    <input v-model="searchContent" type="text" class=" pull-left form-control" aria-label="..." v-on:keyup.enter="searchMusic()">
                    <i class="glyphicon glyphicon-search search-icon"  v-on:click="searchMusic()"></i>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
    <!--搜索分类-->
    <div class="row">
        <div class="container">
            <div class="navbar ">
                <ul class="nav navbar-nav search-type">
                    <li class="active">
                        <a href="#" @click="searchSingle()">单曲</a>
                    </li>
                    <li>
                        <a href="#" @click="searchAlbum()">专辑</a>
                    </li>
                    <li>
                        <a href="#" @click="searchSinger()">歌手</a>
                    </li>
                    <li>
                        <a href="#" @click="searchPlayList()">歌单</a>
                    </li>
                    <li>
                        <a href="#" @click="searchUser()">用户</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="container">
            <!--单曲列表-->
            <table class="table table-list" v-if="searchType==1">
                <thead>
                    <tr class="text-muted">
                        <td>歌曲</td>
                        <td>歌手</td>
                        <td>专辑</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in musics">
                        <td>{{item.name}}</td>
                        <td>{{item.artist.name}}</td>
                        <td>{{item.album.name}}</td>
                        <td>
                            <a title="播放" href=""><span class="glyphicon glyphicon-play"></span></a>&nbsp;&nbsp;&nbsp;
                            <a title="添加到播放列表" href=""><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;&nbsp;
                            <a title="下载歌曲" :href='item.url'><span class="glyphicon glyphicon-download-alt"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--专辑列表-->
            <table class="table table-list" v-if="searchType==10">
                <thead>
                    <tr class="text-muted">
                        <td>专辑</td>
                        <td>歌手</td>
                        <td>发布时间</td>
                        <td>大小</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in albums">
                        <td>{{item.name}}</td>
                        <td>{{item.artist.name}}</td>
                        <td>{{item.publishTime|formatDate}}</td>
                        <td>{{item.size}}</td>
                        <td>
                            <a title="播放" href=""><span class="glyphicon glyphicon-play"></span></a>&nbsp;&nbsp;&nbsp;
                            <a title="添加到播放列表" href=""><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;&nbsp;
                            <a title="下载歌曲" :href='item.url'><span class="glyphicon glyphicon-download-alt"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--歌手-->
            <div class="singer" v-if="searchType==100">
                <div v-for="item in singers" class="">
                    <img :src="item.imgUrl" :alt="item.name">
                    <a class="text-center singer-name">{{item.name}}</a>
                </div>
            </div>

            <!--歌单-->
            <table class="table table-list" v-if="searchType==1000">
                <thead>
                <tr class="text-muted">
                    <td>歌单</td>
                    <td>用户</td>
                    <td>播放量</td>
                    <td>收藏次数</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in playLists">
                    <td><img :src="item.coverImgUrl" height="100px" width="100px" alt="">{{item.listName}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.playCount}}</td>
                    <td>{{item.trackCount}}</td>
                </tr>
                </tbody>
            </table>
            <!--用户-->
            <div class="singer" v-if="searchType==1002">
                <div v-for="item in users" class="">
                    <img :src="item.avatarUrl" :alt="item.name">
                    <a class="text-center singer-name">{{item.nickname}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/main.js"></script>
</body>
</html>